CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
install_manifest.txt
*.a

#VS/Windows related
*.ilk
*.lastbuildstate
*.unsuccessfulbuild
*.lib
*.sdf
*.suo
*.obj
*.tlog
*.log
*.pdb
*.cache
*.exe
*.opensdf
*.idb

#XCode related

#JUCE specific: expect user to copy modules locally!
JuceLibraryCode/modules

Testing
Doxygen_output
ports.db
subs.db
test.db

Builds/MacOSX/build
*.xcuserstate
