CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
install_manifest.txt
*.a

#VS/Windows related
*.ilk
*.lastbuildstate
*.unsuccessfulbuild
*.lib
*.sdf
*.suo
*.obj
*.tlog
*.log
*.pdb
*.cache
*.exe
*.opensdf
*.idb

#XCode related
MPlusM/MPlusM.xcodeproj/xcuserdata/njaffe.xcuserdatad/xcschemes/MPlusM.xcscheme
MPlusM/MPlusM.xcodeproj/xcuserdata/njaffe.xcuserdatad/xcschemes/xcschememanagement.plist
MPlusM/MPlusM.xcodeproj/project.xcworkspace/xcuserdata/njaffe.xcuserdatad/UserInterfaceState.xcuserstate
UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist

#JUCE specific: expect user to copy modules locally!
JuceLibraryCode/modules

Testing
Doxygen_output
ports.db
subs.db
test.db

Channel Manager
